.project-name{
    font-family: 'Red Hat Display', sans-serif;
    color: white;
}


.main-img{ 
    background-image: url('../../assets/bg.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.main-title { 
    font-size: 4rem;
    font-weight: bold;
    margin: 20px 20px;
}
@media only screen and (max-width: 480px) {
    .main-title{
        font-size: 3rem;
    }
}
@media only screen and (min-width: 576px) {
    .main-img{
        height: 100vh;
    }
}