.App {
}
.app-title{
  text-align: center;
  color: white;

}
.header-class{ 
  background-color:#0470c2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 20px;
  background-color: #b1dbfc;
}

.image-container {
  /* height: 500px;
  width: 350px;  */
  padding: 35px 10px;
  background-color: black;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.description-container {
  width: 300px;
}

.button-container {
  display: flex;
  justify-content: center;
}

button {
  margin: 10px;
  border-radius: 100px;
  padding: 15px;
  background: #7bc6ff;
  border: 0;
  font-weight: 600;
}
button:hover{
  background: #54b5ff;
}
button img {
  
}
.home-btn{
  margin: 10px;
  border-radius: 100px;
  padding: 15px;
  background: #7bc6ff;
  border: 0;
}
.home-btn:hover{
  background: #54b5ff;
}
.photo {
  height: 380px;
  width: 220px; 
}